<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styl.css' %}">
    <div class="navbar">
        <a href="{% url "home" %}">Site_Home</a>
        <a href="{% url "create_applicant_profile" %}">Make Profile</a>
        <a href="{% url "applicant_dashboard" %}">Applicant_Dashboard</a> </div>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    
    <h2>Applicant Dashboard</h2>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

    {% if applicant %}
        <h3>Applicant: {{ applicant.name }}</h3>
        <p>Status: {{ status }}</p>
        <p>Interview Time: {{ interview_time }}</p>
    {% elif form.errors %}
        <p>{{ form.errors.name }}</p>
    {% endif %}
</body>
</html>


